
    <section id="home"> 
    <div id="main-slider" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#main-slider" data-slide-to="0" class="active"></li>
        <li data-target="#main-slider" data-slide-to="1"></li>
        <li data-target="#main-slider" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
        <div class="item active">
          <img class="img-responsive" src="assets/images/slider/image1.jpg" alt="slider">           
        </div>
        <div class="item">
          <img class="img-responsive" src="assets/images/slider/image2.jpg" alt="slider"> 
        </div>
        <div class="item">
          <img class="img-responsive" src="assets/images/slider/image4.jpg" alt="slider"> 
        </div>        
      </div>
  <div class="col-sm-6 col-sm-offset-3" id="search-bar">
    <div class="text-center lead">
      <h1 class="heading light-text">Find Out Whats Happening and Go Have Fun!
      </h1>
    </div>
    <form>
        <div class="input-group input-group-lg">
          <input type="text" class="form-control" placeholder="Enter Your Location">
          <span class="input-group-addon blue-btn"> <i class="light-text fa fa-search"></i></span>
        </div>
      </div>
    </form>
  </div>
    </div> 
    </section>
  <!--/#home-->

  <section id="about">
    <div class="about-image hidden-xs">       
      <img class="img-responsive" src="assets/images/about-bg.jpg" alt="guitar">
    </div>
    <div class="about-content">         
          <h2 class="blue-text">We tell You what and where</h2>
          <p class="blue-text">We have created an extremely positive and relaxed environment all geared towards developing your skills whether you are an absolute beginner trying to get off the ground or an accomplished player looking to move to the next level. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
          <a href="#" class="btn blue-btn blue-btn-text">Find Events Now<i class="light-text fa fa-chevron-right"></i></a>
        
    </div>
  </section><!--/#about-->
  
  <section id="event">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-9">
          <div id="event-carousel" class="carousel slide" data-interval="false">
            <h2 class="heading text-center">Happening Soon</h2>
                <div class="row">
                  <div class="col-sm-4">
                    <div class="single-event">
                      <img class="img-responsive" src="assets/images/event/event1.jpg" alt="event-image">
                      <h4>Chester Bennington</h4>
                      <h5>Vocal</h5>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="single-event">
                      <img class="img-responsive" src="assets/images/event/event2.jpg" alt="event-image">
                      <h4>Mike Shinoda</h4>
                      <h5>vocals, rhythm guitar</h5>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="single-event">
                      <img class="img-responsive" src="assets/images/event/event3.jpg" alt="event-image">
                      <h4>Rob Bourdon</h4>
                      <h5>drums</h5>
                    </div>
                  </div>
                  <div class="pull-right">
                    <div class="single-event">
                      <a href="#" class="light-btn btn light-btn-text">More Events<i class="blue-text fa fa-chevron-right"></i></a>
                    </div>
                  </div>
                </div>
            </div>
          </div>
        </div>
      </div>      
    </div>
  </section><!--/#event--> 

  <section id="contact">
    <div class="contact-section container-fluid">
      <h1 class="blue-text text-center">Do you have an upcoming event?</h1>
      <div class="col-md-6 register">
          <div class="contact-text text-center">
            <h2 class="text-center">Register now to add your event, its free!</h2>
            <a href="/register" class="btn blue-btn blue-btn-text">Register<i class="light-text fa fa-chevron-circle-right"></i></a>
            <h3 class="contact-pointer blue-text"><strong> Or reach out to us using our contacts</strong></h3>
          <i class="blue-text fa hidden-xs hidden-sm icon-large fa-hand-o-right"></i></a> 
          <i class="blue-text fa visible-xs visible-sm icon-large fa-hand-o-down"></i></a> 
        </div>
      </div>
        <div class="row col-md-6">
          <div class="col-md-6">
            <div class="contact-text">
              <h3>Contact</h3>
              <address>
                314, Herbert Macaulay Way, <br>
                Sabo Yaba, Lagos. <br>
                E-mail: hello@playcorners.com<br>
                Phone: +234 81 239 5475.
              </address>
            </div>
          </div>
          <div class="col-md-6">
            <div id="contact-section">
              <h3 class="blue-text">Send a message</h3>
                <div class="status alert alert-success" style="display: none"></div>
                <form id="main-contact-form" class="contact-form" name="contact-form" method="post" action="sendemail.php">
                      <div class="form-group">
                          <input type="text" name="name" class="form-control" required="required" placeholder="Name">
                      </div>
                      <div class="form-group">
                          <input type="email" name="email" class="form-control" required="required" placeholder="Email ID">
                      </div>
                      <div class="form-group">
                          <textarea name="message" id="message" required="required" class="form-control" rows="4" placeholder="Enter your message"></textarea>
                      </div>                        
                      <div class="form-group">
                          <button type="submit" class="btn blue-btn blue-btn-text pull-right">Send <i class="light-text fa fa-share-square"></i></button>
                      </div>
                  </form>        
              </div>
          </div>
        </div>
    </div>    
  </section>
    <!--/#contact-->